---
import { LandingPage } from "../qwik"
const title =  "Nativelink"
---
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" sizes="192x192" href="/favicon.svg" type="svg+xml" />
  </head>
  <body>
    <LandingPage />
  </body>
</html>
