---
import Layout from "../layouts/Layout.astro";
---

<Layout title="NativeLink Community">
 <div class="w-screen h-screen text-white text-4xl bg-black flex justify-center items-center">
    Community
  </div>
</Layout>
