---
import Layout from "../layouts/Layout.astro";
---

<Layout title="NativeLink Company">
  <div class="w-screen h-screen text-white text-4xl bg-black flex justify-center items-center">
    Company
  </div>
</Layout>
